.bg-image-7{
    background-image: url('/Theme/sandbox/assets/dev/img/photos/bg7.jpg');
}
.bg-image-8{
    background-image: url('/Theme/sandbox/assets/dev/img/photos/bg8.jpg');
}
.bg-image-9{
    background-image: url('/Theme/sandbox/assets/dev/img/photos/bg9.jpg');
}